
<ion-header>

        <ion-navbar>
                <ion-row text-center>
                  <ion-col col-3 class="ptitle" (click)="irPontos()">
                    {{user.pontos}} Pontos
                  </ion-col>
                
                  <ion-col col-4 offset-3 class="ptitle" (click)="irPerfil()"> Olá {{user.name}}
                    <br> Bem Vindo!!! </ion-col>
                  
                </ion-row>
              </ion-navbar>
            <ion-toolbar no-border no-padding>
                <ion-title text-center *ngIf="!searchBarOpen">Troque seus Pontos</ion-title>

                <ion-buttons end>
                        <button ion-button icon-only *ngIf="!searchBarOpen" (click)="barClick()">
                            <ion-icon name="search" ></ion-icon>
                        </button>
                      </ion-buttons>
                <ion-searchbar  *ngIf="searchBarOpen" showCancelButton="true" (ionCancel)="barClick()" (ionInput)="getItems($event)"  placeholder="Filtre pelo Nome"></ion-searchbar>
            </ion-toolbar>

</ion-header>


<ion-content padding>
    <ion-grid>
        
       
       
  
        <ion-row>
            <ion-col col-12>
               
                  <ion-list>     
                             <ion-item-sliding *ngFor="let recompensa of recompensas | async">  
                                 <ion-item (click)="abrirModal(recompensa)" text-wrap>
                                    <ion-avatar item-start >
                                      <img src="{{ recompensa.url }}" />
                                    </ion-avatar>
                                     <h2>{{recompensa.nome}}</h2>
                                     <p>{{recompensa.pontos}} Pontos</p>
                                     
                                  
                                    
<button  color="secondary" ion-button  item-content item-end icon-only clear >
                                               <ion-icon  class="icone"  name="cart"></ion-icon>
                                             </button>
                                            
                                 </ion-item>

                              

                            </ion-item-sliding>
                    </ion-list>
               
            
            </ion-col>
        </ion-row>
         
       
      </ion-grid>

    

</ion-content>

