
<ion-header>

        <ion-navbar [hideBackButton]='hideBackButton'  no-border no-padding>
                <ion-title text-center *ngIf="!searchBarOpen">Meus Pontos</ion-title>
        
                <ion-buttons end>
                        <button ion-button icon-only *ngIf="!searchBarOpen" (click)="barClick()">
                            <ion-icon name="search" ></ion-icon>
                        </button>
                      </ion-buttons>
                <ion-searchbar  *ngIf="searchBarOpen" showCancelButton="true" (ionCancel)="barClick()" (ionInput)="getHist($event)"  placeholder="Filtre pela Nota Fiscal"></ion-searchbar>
           
            
          </ion-navbar>
</ion-header>


<ion-content padding>

    
<ion-grid>

    <ion-row>

        <ion-col col-12>
            <ion-item-sliding *ngFor="let nota of notas | async">  

            
                <ion-item  (click)="viewNota(nota)" text-wrap *ngIf="keyuserAtual===nota.Userkey" >
                    <ion-icon  color="violet" item-content item-start name="list-box"></ion-icon>
                    <h2> #{{nota.nota}}</h2> 
                    <p ion-text color="dark">Usuario: {{nota.NomeUser}}</p>
                    <p >CPF: {{nota.cpf}}</p>
                    <p>{{nota.quantPontos}} pontos {{nota.status | lowercase}}</p>
                    <button color="secondary" ion-button item-content  item-end icon-only clear >
                    <ion-icon class="icone"  name="checkmark-circle-outline"> </ion-icon>
                        </button> 
                  
                </ion-item>
        
           </ion-item-sliding>
        
        </ion-col>
    </ion-row>
</ion-grid>
   

  

</ion-content>
