
<ion-header>

        <ion-navbar>
                <ion-row text-center>
                
                  <ion-col col-4 offset-6> Olá {{user.name}}
                    <br> Bem Vindo!!! </ion-col>
                  <ion-col col-2>
                    <ion-buttons end>
                      <button ion-button icon-only (click)="sair()">
                        <ion-icon name="exit"></ion-icon>
                      </button>
                    </ion-buttons>
                  </ion-col>
                </ion-row>
              </ion-navbar>
            

</ion-header>


<ion-content padding>

  <ion-grid>


      <ion-row>
          <ion-col col-12 text-center>
              <h3> Noticias em destaques</h3>
          </ion-col>
      </ion-row>

    <ion-row>
        <ion-col col-12 >

            
<ion-slides pager>
<ion-slide  *ngFor="let noticia of noticias | async">

    <ion-card>
        <ion-card-title>
            {{noticia.titulo}}
            </ion-card-title>
        <img class="imgslide" src="{{noticia.url}}"/>
        <ion-card-content>
          
          <p>
            {{noticia.descricao}}
          </p>
        </ion-card-content>
      </ion-card>
  

</ion-slide>

</ion-slides>
        
        
        </ion-col>

    </ion-row> 

    </ion-grid>
<!---->


    <ion-grid>


    <ion-row>
        <ion-col col-12 text-center>
            <h3> Produtos em destaques</h3>
        </ion-col>
    </ion-row>

            <ion-row>
                    <ion-col no-padding col-6 *ngFor="let recompensa of recompensas | async">
                        <ion-list>
                            <ion-item  class="card-background-page">

                                    <ion-card>
                                            <img class="imgdestaque" src="{{ recompensa.url }}"/>
                                            <div class="card-title">{{recompensa.nome}}</div>
                                            <div class="card-subtitle">{{recompensa.pontos}} Pontos</div>
                                 </ion-card>
                                    
                                    
                            </ion-item>
                        </ion-list>
                           
                    </ion-col>
                </ion-row> 
        
    </ion-grid>

</ion-content>
