page-modal-recompensa {


    background-color: rgba(0,0,0,0.5);

    #header{
        top:8%
    }

    ion-card img {
        display: block;
        width: 30rem;
        height: 30rem;
    }


    #content{
        top:8%;
        width: 100%;
        height: 80%;
    }

    .card {
        width: 100%;
        margin: auto 0 ;
        

    }


 
 
  

     

}
