<ion-header id="header">

  <ion-navbar>
    <ion-title text-center>Deseja Resgatar?</ion-title> 
    <ion-buttons end>
      <button ion-button icon-only (click)="fechar()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding id="content">


  <form [formGroup]="form">



    <ion-card padding>
      <img *ngIf="prod.url" src="{{ prod.url }}" />

      <ion-card-content>

        <ion-row>

          <ion-col col-6>

            <ion-item>
              <ion-label floating>Produto</ion-label>
              <ion-input readonly type="text" formControlName="prodNome"></ion-input>
            </ion-item>
          </ion-col>


          <ion-col col-6>
            <ion-item>
              <ion-label floating> Pontos</ion-label>
              <ion-input readonly type="text" formControlName="pontosProd"></ion-input>
            </ion-item>


          </ion-col>
        </ion-row>

        <ion-row>

          <ion-col col-12>
            <ion-item>

              <p>Meus Pontos: {{user.pontos}} </p>
              <p ion-text color="danger">Pontos Necessarios: {{prod.pontos}}</p>
              <div *ngIf="user.pontos - prod.pontos > 0">
                <p ion-text color="secondary">Pontos Restantes: {{user.pontos - prod.pontos}}</p>
              </div>
              <ion-row>
                <ion-col col-12>
                  <div *ngIf="user.pontos - prod.pontos < 0">
                    <p ion-text text-center color="danger">Não possui pontos suficientes</p>
                  </div>
                </ion-col>
              </ion-row>
            </ion-item>


          </ion-col>

        </ion-row>
      </ion-card-content>

      <ion-row>
        <ion-col col-6>
          <ion-buttons start>
            <button (click)="fechar()" color="danger" ion-button icon-left>
              <ion-icon name="close"></ion-icon>

              Cancelar</button>

          </ion-buttons>
        </ion-col>


        <ion-col col-6>

          <ion-buttons end>
            <button color="secondary" ion-button icon-left type="submit" [disabled]="user.pontos - prod.pontos < 0" (click)="onSubmit()">

              <ion-icon name="checkmark"></ion-icon>

              Confirmar</button>

          </ion-buttons>

        </ion-col>

      </ion-row>



    </ion-card>


  </form>

</ion-content>



